Flask-Login
Flask~=2.1.1
Flask-SQLAlchemy
Flask-WTF
psycopg2
WTForms~=3.0.1
Flask-Cors
Werkzeug~=2.1.1
click~=8.1.2
SQLAlchemy~=1.4.35
Jinja2==3.1.1
pytest==7.1.1
pytest-cov==3.0.0
pytest-pylint==0.18.0
gunicorn==20.1.0
Flask-Bootstrap==3.3.7.1
Bootstrap-Flask==2.0.2